<%- include('partials/head') %> <%- include('partials/navbar') %>
<h1>The Home Page <%=4+5+1%></h1>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta ipsa illo
  sequi excepturi, est enim fuga ducimus cumque ex facilis unde quam, mollitia
  cupiditate, voluptatem iste officia ut harum voluptas.
</p>

<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas vel quae
  deleniti ipsa blanditiis, possimus corrupti accusantium reprehenderit porro
  temporibus est fuga nam eius saepe a rem beatae ex reiciendis!
</p>
<%- include('partials/footer') %>
